/* Change ALL the FF GUI fonts */
 *  {
    font-size:      10pt      !important;
    font-family:    Cantarell        !important;     /* */
    font-weight:    regular        !important;     /* */
    }
